<div id="navWrapper">
  <div id="siteNav">
    <ul>
      <li routerLink="/wiki" routerLinkActive="active"><a>Wiki</a></li>
      <li routerLink="/build" routerLinkActive="active"><a>Build</a></li>
      <li routerLink="/buy" routerLinkActive="active"><a>Buy</a></li>
    </ul>
  </div>
  <a href="#" id="siteTitle">{{ siteName }}</a>
  <div id="userNav" appDropdown>
    <a id="options">Options</a>
    <ul>
      <li><a>Login</a></li>
      <li><a>Basket</a></li>
      <li><a>Settings</a></li>
    </ul>
  </div>
</div>
