<div id="navWrapper">
  <div id="siteNav">
    <ul>
      <li routerLink="/build" routerLinkActive="active"><a>Build</a></li>
      <li routerLink="/my-tank" routerLinkActive="active"><a>My Tank</a></li>
      <li routerLink="/stores" routerLinkActive="active"><a>Stores</a></li>
    </ul>
  </div>
  <div id="siteTitle" routerLink="/" routerLinkActive="active">{{ siteName }} </div>
  <div id="userNav" appDropdown>
    <a id="options">Options</a>
    <ul>
      <li><a>Login</a></li>
      <li><a>Basket</a></li>
      <li><a>Settings</a></li>
    </ul>
  </div>
</div>
