<div
#card
class="species-wrapper"
(mouseover)="bump(); cardBump()"
(mouseout)="bumpReverse(); cardBumpReverse()"
[ngClass]="remove">
  <div class="highlight">
    <div class="two-group">
      <img
        class="type"
        src="../../../assets/images/Type-Fish.png"
        style="filter: invert(100%)"
        alt=""
      />
      <div (click)="animateAddToTank(imgRef)" class="add-to-tank" appToggleSideBar>
        <h1>+</h1>
      </div>
    </div>
    <div
      class="fish-image-wrapper"
      [ngClass]="species.waterType"
    >
      <div class="fish-image-bubble" #imgRefBubble></div>
      <img #imgRef src="{{ species.heroImg }}" alt="error" srcset="" />
    </div>
    <div class="species-info">
      <h1>{{ species.name }}</h1>
      <span #moreInfoDiv class="more-info" (click)="swimAway(); animateToWiki()"
        >+ more information</span
      >
      <p class="species-description">{{ species.description }}</p>
      <div class="two-group">
        <span class="difficulty-rating">
          <div class="d-rating {{ species.difficulty }}"></div>
          <div class="d-rating {{ species.difficulty }}"></div>
          <div class="d-rating {{ species.difficulty }}"></div>
        </span>
        <h2 class="species-size">{{ species.size | uppercase }}</h2>
      </div>
    </div>
  </div>
</div>
