<div class="species-wrapper">
  <div class="highlight">
    <div class="two-group">
      <img
        class="type"
        src="../../../assets/images/Type-Fish.png"
        style="filter: invert(100%)"
        alt=""
      />
      <div class="add-to-tank">
        <h1>+</h1>
      </div>
    </div>
    <div
      class="fish-image-wrapper {{ species.waterType }}"
      [ngClass]="expanded ? 'expanded' : ''">
      <img [src]="species.heroImg" alt="" srcset="" #imgRef/>
    </div>
    <div class="species-info">
      <h1>{{ species.name }}</h1>
      <span class="more-info" (click)="expandMoreInfo(); swimAway(imgRef);"
        >+ more information</span
      >
      <p class="species-description">{{ species.description }}</p>
      <div class="two-group">
        <span class="difficulty-rating">
          <div class="d-rating {{ species.difficulty }}"></div>
          <div class="d-rating {{ species.difficulty }}"></div>
          <div class="d-rating {{ species.difficulty }}"></div>
        </span>
        <h2 class="species-size">{{ species.size | uppercase }}</h2>
      </div>
    </div>
  </div>
  <div class="more-info-wrapper"></div>
</div>
