/* You can add global styles to this file, and also import other style files */
html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background: #E2DDDE;
  overflow-x: hidden;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
a {
  text-decoration: none;
  color: unset;
  cursor: pointer;
}
ul {
  margin: 0;
  list-style: none;
}
.closedDropdown > ul {
  display: none;
}
.active {
  background-color: #193c5a;
}
:host {
  display: block;
}
.species-wrapper {
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  background-color: #2a2a72;
  background: linear-gradient(#2a2a72 0%, #428bca 24%);
  align-items: center;
  box-shadow: -1px 15px 30px -6px #c4c4c4;
  border: solid white 3px;
  height: auto;
  transition-duration: 0.2s;
  z-index: 40;
}
.species-wrapper.disabled {
  background: linear-gradient(lightgrey 0%, grey 24%);
}
.species-wrapper.disabled > .highlight > *:not(.two-group) {
  filter: saturate(0%);
  z-index: 100;
}
.species-wrapper.disabled .add-to-tank {
  pointer-events: none;
  position: relative;
}
.species-wrapper.disabled .add-to-tank::after {
  content: 'Different Water Type!';
  position: absolute;
  width: 84px;
  background-color: crimson;
  color: white;
  height: 31px;
  top: -16px;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
  display: flex;
  right: 0;
  overflow: hidden;
  transition-duration: 0.2s;
  padding: 8px;
  border-radius: 4px;
}
.species-wrapper .more-info-wrapper {
  width: 0px;
}
.species-wrapper .highlight .fish-image-wrapper {
  width: 100%;
  height: 150px;
  position: relative;
  border-radius: 100%;
  border: solid white 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(-30deg, #1787ca, #cbefc4);
}
.species-wrapper .highlight .fish-image-wrapper .fish-image-bubble {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background: inherit;
  position: relative;
  z-index: 40;
}
.species-wrapper .highlight .fish-image-wrapper.saltwater {
  background: linear-gradient(#009ffd 0%, #1b2348 100%);
}
.species-wrapper .highlight .fish-image-wrapper > img {
  width: 100%;
  max-height: 150px;
  position: absolute;
  left: 0;
  z-index: 99;
}
.species-wrapper .highlight .type {
  width: 30px;
  align-self: flex-start;
}
.species-wrapper .highlight .species-info {
  width: 220px;
  text-align: left;
  display: flex;
  flex-direction: column;
}
.species-wrapper .highlight .species-info h1 {
  margin: 10px 0px;
  font-weight: normal;
}
.species-wrapper .highlight .species-info h2 {
  margin: 10px 0px;
}
.species-wrapper .highlight .species-info .more-info {
  font-size: 12px;
  align-self: flex-end;
  cursor: pointer;
  margin-bottom: 5px;
  position: relative;
  z-index: 1;
}
.species-wrapper .highlight .species-info .more-info::after {
  content: '';
  position: absolute;
  z-index: -1;
  right: 0;
  width: 0%;
  height: 2px;
  background-color: #193c5a;
  transition-duration: 0.2s;
  display: block;
}
.species-wrapper .highlight .species-info .more-info:hover::after {
  width: 100%;
}
.species-wrapper .highlight .species-info .species-description {
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100px;
  background-color: #357ebd;
  padding: 10px;
  border-radius: 5px;
}
.species-wrapper .highlight .two-group {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.species-wrapper .highlight .two-group .difficulty-rating {
  margin-top: 10px;
  height: 100%;
  display: flex;
  align-items: center;
}
.species-wrapper .highlight .two-group .difficulty-rating .d-rating {
  width: 10px;
  height: 10px;
  border: solid white 2px;
  border-radius: 100%;
  margin: 0 3px;
  margin-top: 10px;
}
.species-wrapper .highlight .two-group .add-to-tank {
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -15px;
  margin-right: -15px;
  cursor: pointer;
}
.species-wrapper .highlight .two-group .add-to-tank > h1 {
  line-height: 10px;
  margin: 0;
}
.species-wrapper .highlight .two-group .species-size {
  margin: 15px 0 0 0;
}
.species-wrapper:hover {
  transform: translateY(-5px);
  z-index: 40;
}
.species-wrapper:hover .highlight .fish-image-wrapper > img {
  z-index: 400;
}
.easy {
  background-color: #14ad14;
}
.medium {
  background-color: #f9a700;
}
.hard {
  background-color: #c50000;
}
.remove {
  opacity: 0;
}
