#searchSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  background-color: #428bca;
  margin: 20px 0;
  padding: 20px 0;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  border: solid white 3px;
  color: #fff;
}
#searchSection > h1 {
  font-size: 40px;
  margin: 0 0 10px 0;
}
#searchSection > input {
  line-height: 25px;
  font-size: 25px;
  width: 90%;
  max-width: 400px;
  background-color: white;
  border: none;
  border-radius: 5px;
}
#searchSection > .filters-wrapper {
  display: flex;
}
#searchSection > .filters-wrapper > .filter-by-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding-top: 10px;
}
#searchSection > .filters-wrapper > .filter-by-wrapper select {
  min-width: 100px;
  line-height: 40px;
  height: 25px;
}
#searchSection > .filters-wrapper > .filter-by-wrapper > input {
  margin-top: 7px;
}
section.species-list {
  display: flex;
  justify-content: center;
  gap: 20px;
  color: white;
  flex-wrap: wrap;
  min-height: 100vh;
}
