/* You can add global styles to this file, and also import other style files */
html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background: #E2DDDE;
}
a {
  text-decoration: none;
  color: unset;
  cursor: pointer;
}
ul {
  margin: 0;
  list-style: none;
}
.closedDropdown > ul {
  display: none;
}
.active {
  background-color: #193c5a;
}
section.species-list {
  display: flex;
  justify-content: center;
  gap: 20px;
  color: white;
  flex-wrap: wrap;
}
section.species-list .species-wrapper {
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  background-color: #2a2a72;
  background-image: linear-gradient(#2a2a72 0%, #428bca 24%);
  align-items: center;
  box-shadow: -1px 15px 30px -6px #c4c4c4;
  border: solid white 3px;
  transition-duration: 0.5s;
}
section.species-list .species-wrapper .highlight .fish-image-wrapper {
  width: 100%;
  height: 150px;
  position: relative;
  border-radius: 100%;
  border: solid white 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(-30deg, #1787ca, #cbefc4);
}
section.species-list .species-wrapper .highlight .fish-image-wrapper.saltwater {
  background: linear-gradient(#009ffd 0%, #1b2348 100%);
}
section.species-list .species-wrapper .highlight .fish-image-wrapper.saltwater::before {
  content: "";
  width: 10px;
  height: 10px;
  background-color: white;
  bottom: 0;
  right: 0;
  z-index: 30;
  position: absolute;
}
section.species-list .species-wrapper .highlight .fish-image-wrapper.saltwater::after {
  content: "";
  width: 8px;
  height: 8px;
  background-color: white;
  bottom: 7px;
  right: 5px;
  z-index: 30;
  position: absolute;
}
section.species-list .species-wrapper .highlight .fish-image-wrapper > img {
  width: 100%;
  max-height: 150px;
  position: absolute;
  left: 0;
  transition-duration: 0.5s;
}
section.species-list .species-wrapper .highlight .type {
  width: 30px;
  align-self: flex-start;
}
section.species-list .species-wrapper .highlight .species-info {
  width: 220px;
  text-align: left;
  display: flex;
  flex-direction: column;
}
section.species-list .species-wrapper .highlight .species-info h1 {
  margin: 10px 0px;
  font-weight: normal;
}
section.species-list .species-wrapper .highlight .species-info h2 {
  margin: 10px 0px;
}
section.species-list .species-wrapper .highlight .species-info .more-info {
  font-size: 12px;
  align-self: flex-end;
  cursor: pointer;
  margin-bottom: 5px;
  position: relative;
  z-index: 1;
}
section.species-list .species-wrapper .highlight .species-info .more-info::after {
  content: '';
  position: absolute;
  z-index: -1;
  right: 0;
  width: 0%;
  height: 2px;
  background-color: #193c5a;
  transition-duration: 0.2s;
  display: block;
}
section.species-list .species-wrapper .highlight .species-info .more-info:hover::after {
  width: 100%;
}
section.species-list .species-wrapper .highlight .species-info .species-description {
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100px;
  background-color: #357ebd;
  padding: 10px;
  border-radius: 5px;
}
section.species-list .species-wrapper .highlight .two-group {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
section.species-list .species-wrapper .highlight .two-group .difficulty-rating {
  margin-top: 10px;
  height: 100%;
  display: flex;
  align-items: center;
}
section.species-list .species-wrapper .highlight .two-group .difficulty-rating .d-rating {
  width: 10px;
  height: 10px;
  border: solid white 3px;
  border-radius: 100%;
  margin: 0 5px;
  margin-top: 10px;
}
section.species-list .species-wrapper .highlight .two-group .add-to-tank {
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -15px;
  margin-right: -15px;
  cursor: pointer;
}
section.species-list .species-wrapper .highlight .two-group .add-to-tank > h1 {
  line-height: 10px;
  margin: 0;
}
section.species-list .species-wrapper .highlight .two-group .species-size {
  margin: 15px 0 0 0;
}
section.species-list .species-wrapper .more-info-wrapper {
  height: 111%;
  width: 0px;
  margin-left: 10px;
  background-color: white;
}
section.species-list .species-wrapper .more-info-wrapper.expanded {
  background-color: red;
}
section.species-list .species-wrapper:hover {
  transform: translateY(-5px);
}
section.species-list .species-wrapper:hover .fish-image-wrapper > img {
  transform: translateY(10px) rotate(5deg);
  transform-origin: center center;
}
.easy {
  background-color: #14ad14;
}
.medium {
  background-color: #f9a700;
}
.hard {
  background-color: #c50000;
}
