<section #introSection>
  <div id="site-title">
    <h1>Welcome to the Aquarium Builder!</h1>
  </div>
  <div id="intro-text">
    <div class="stop-section">
      <h2 id="one">A tool for building your own fish tank.</h2>
    </div>
    <div class="stop-section">
      <h2 id="two">What to do:</h2>
      <h2 id="three">Simple, start by taking a look through the fish gallery.</h2>
    </div>
    <div class="stop-section">
      <h3 id="four">You'll see each fish has a lot of information</h3>
      <h3 id="five">When you find a fish you like, try adding it to your tank!</h3>
      <h3 id="six">You can adjust the size of your tank based on what you own or what you intend to get.</h3>
      <h3 id="seven">The residents section shows all the fish you've added and how happy they are based upon how many friends they have, if they have enough space and if they are likely to be eaten by other residents.</h3>
    </div>
    <div class="stop-section">
      <h3 id="eight">Visit your tanks page to see your residents, get a sense of scale and get food suggestions.</h3>
      <h3 id="nine">Visit the stores page to see where your recommended stores are to purchase species and equipment.</h3>
      <h3 id="ten">Have fun!</h3>
    </div>
  </div>
</section>
