.listItem {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 0 0 10px 0;
  transition-duration: 0.2s;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;

  &:hover {
    transform: translateY(-2px);
  }

  .main {
    width: 90%;
    background-color: #428bca;
    height: 60px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .species {
      display: flex;
      align-items: center;

      .thumbnailWrapper {
        width: auto;
        height: 100%;
        background-color: whitesmoke;
        border-radius: 100%;
        margin-left: 10px;
        height: 48px;
        display: flex;
        align-items: center;

        img {
          width: 48px;
        }
      }

      h2 {
        display: inline;
        font-size: 16px;
        color: white;
        font-weight: normal;
        margin-left: 10px;
      }
    }

    .status {
      display: flex;
      width: 50%;
      gap: 5px;
      justify-content: flex-end;
      padding-right: 5px;

      .status-item {
        width: 40px;
        height: 40px;
        background-color: transparent;
        border: solid white 2px;
        border-radius: 100%;
        position: relative;
        color: white;

        .number-current {
          left: 9px;
          position: absolute;
          top: 8px;
          font-size: 11px;

          &.adjusted {
            left: 3px;
            top: 9px;
          }
        }

        .number-recommended {
          position: absolute;
          bottom: 9px;
          right: 8px;
          font-size: 11px;
        }

        .divider {
          position: absolute;
          left: 18px;
          top: 10px;
          transform: rotate(22.5deg);
        }

        &.space {
          border-radius: 0%;
          display: flex;
          justify-content: center;
          align-items: center;

          > img {
            width: 20px;
            color: white;
            fill: white;
            filter: invert(100%);
          }
        }

        &.community {
          display: flex;
          justify-content: center;
          align-items: center;

          > svg {
            width: 67%;
            fill: white;
          }
        }
      }
    }
  }

  .delete {
    width: 23px;
    margin-left: 10px;
    cursor: pointer;
  }
}

.good {
  background-color: green !important;

  svg g #meh {
    display: none;
  }
}

.moderate {
  background-color: goldenrod !important;
}

.bad {
  background-color: crimson !important;

  svg g #smile {
    transform: rotateX(180deg) translateY(-166px);
    transform-origin: center;
  }

  svg g #meh {
    display: none;
  }
}

.reworkNumbers {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  > .number-current {
    position: relative !important;
    font-size: 21px !important;
    left: unset !important;
    top: unset !important;
  }

  > .divider {
    display: none;
  }

  > .number-recommended {
    display: none;
  }
}

.reduce {
  transform: rotate(45deg);
  transform-origin: center;
}

.reduceAlt {
  transform: rotate(-45deg);
  transform-origin: center;
}

// .sadFace {
//   background-color: crimson !important;

//   svg g #smile {
//     transform: rotateX(180deg) translateY(-166px);
//     transform-origin: center;
//   }

//   svg g #meh {
//     display: none;
//   }
// }

// .happyFace {
//   background-color: green !important;


// }

.itemBorder {
  border: solid goldenrod 3px;

}
