<div
  id="my-tank-label"
  (click)="openMyTank()"
  class="{{ myTankExpanded ? 'change-label-position' : '' }}"
>
  My Tank
</div>

<section id="my-tank-sidebar" class="{{ myTankExpanded ? '' : 'hidden' }}">
  <div id="close" (click)="closeMyTank()">X</div>
  <div id="tankWrapper">
    <div id="selection-wrapper">
      <div id="rating-wrapper" #svgRating>
        <svg version="1.1" id="svgRating" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
 viewBox="0 0 1234.9 1604.1" style="enable-background:new 0 0 1234.9 1604.1;" xml:space="preserve">
<g id="rating-badge">
<g>
  <polygon style="fill:#DB1919;" points="317.4,1604.1 193.5,1455 0,1442.5 356.6,742.3 674,903.9 		"/>
  <polygon style="fill:#DB1919;" points="917.5,1604.1 1041.4,1455 1234.9,1442.5 878.2,742.3 560.9,903.9 		"/>
</g>
<g>
  <path style="fill:#F6BC27;" d="M1162,651.9c29.4-4.3,52.2-29.4,52.4-60.1c0.3-30.7-22-56.3-51.3-61.1
    c27.7-10.7,44.2-40.4,37.7-70.3c-6.6-29.9-34-49.9-63.7-48c24.6-16.7,34.1-49.2,21-77c-13.1-27.7-44.3-41-72.8-32.6
    c20.3-21.8,22.2-55.6,3.2-79.7s-52.4-30.1-78.3-15.4c14.9-25.7,9.2-59.2-14.7-78.4s-57.8-17.6-79.7,2.5
    c8.7-28.4-4.3-59.7-31.9-73.1c-27.6-13.4-60.2-4.2-77.1,20.3c2.2-29.7-17.6-57.3-47.4-64.1c-29.9-6.9-59.7,9.4-70.7,37
    C684.2,22.5,658.8,0,628.2,0c-22.3,0-41.8,11.9-52.6,29.8c-13.9-15.5-35.3-23.6-57.2-19.4c-30.1,5.7-50.8,32.6-49.8,62.3
    c-16-25.1-48.3-35.5-76.3-23.1c-28.1,12.3-42.3,43.1-34.6,71.9c-21.2-20.9-55-23.8-79.6-5.5s-31.5,51.5-17.6,77.8
    c-25.3-15.6-58.9-10.8-78.8,12.5s-19.2,57.3,0.2,79.8c-28.2-9.5-59.8,2.6-74,29.8C93.8,343.1,102,376,126,393.6
    c-29.6-3-57.7,15.9-65.4,45.6s7.7,59.9,35,71.7C66.1,514.6,42.9,539.4,42,570c-0.9,30.6,20.9,56.7,50.2,62
    c-27.9,10.2-45,39.5-39,69.6s33.1,50.5,62.8,49.2c-24.9,16.2-35,48.6-22.4,76.5s43.5,41.9,72.2,33.9
    c-20.7,21.4-23.2,55.2-4.7,79.6c18.5,24.4,51.8,31,77.9,16.9c-15.4,25.5-10.3,59,13.2,78.7s57.4,18.7,79.8-1
    c-9.3,28.2,3.2,59.8,30.5,73.7c27.3,13.9,60.2,5.3,77.5-18.8c-2.7,29.6,16.5,57.6,46.2,65c29.7,7.4,59.8-8.3,71.3-35.7
    c4,29.5,28.9,52.4,59.6,53c30.6,0.6,56.5-21.4,61.5-50.7c10.5,27.8,40,44.6,69.9,38.3s50.2-33.5,48.6-63.2
    c16.4,24.8,48.9,34.5,76.8,21.7s41.4-43.9,33.2-72.5c21.6,20.5,55.4,22.7,79.7,4c24.2-18.8,30.6-52.1,16.2-78.1
    c25.6,15.1,59.1,9.7,78.5-14c19.4-23.7,18.1-57.6-1.7-79.7c28.3,9,59.8-3.7,73.4-31.2s4.8-60.2-19.5-77.3
    c29.6,2.4,57.4-17,64.6-46.8C1205.5,693.1,1189.5,663.1,1162,651.9z"/>

    <radialGradient id="SVGID_1_111" cx="628.3" cy="1017.7" r="525" gradientTransform="matrix(1 0 0 -1 0 1604)" gradientUnits="userSpaceOnUse">
    <stop  offset="0" style="stop-color:#F7B828"/>
    <stop  offset="1" style="stop-color:#FFD03A"/>
  </radialGradient>
  <circle style="fill:url(#SVGID_1_111);" cx="628.3" cy="586.3" r="525"/>
  <path style="fill:#FFFFFF;" d="M628.3,1040.2c-60.6,0-119.4-11.9-174.7-35.3c-53.5-22.6-101.5-55-142.7-96.2
    s-73.6-89.2-96.2-142.7c-23.4-55.3-35.3-114.1-35.3-174.7s11.9-119.4,35.3-174.7c22.6-53.5,55-101.5,96.2-142.7
    s89.2-73.6,142.7-96.2c55.3-23.4,114.1-35.3,174.7-35.3s119.4,11.9,174.7,35.3c53.5,22.6,101.5,55,142.7,96.2
    s73.6,89.2,96.2,142.7c23.4,55.3,35.3,114.1,35.3,174.7s-11.9,119.4-35.3,174.7c-22.6,53.5-55,101.5-96.2,142.7
    s-89.2,73.6-142.7,96.2C747.6,1028.3,688.8,1040.2,628.3,1040.2z M628.3,162.5c-236.5,0-428.9,192.4-428.9,428.9
    s192.4,428.9,428.9,428.9s428.9-192.4,428.9-428.9S864.7,162.5,628.3,162.5z"/>
</g>
<g id="rating-B">
  <path style="fill:#FFFFFF;" d="M490.3,323.5c30.4-6.4,78.4-11.2,127.2-11.2c69.6,0,114.4,12,148,39.2c28,20.8,44.8,52.8,44.8,95.2
    c0,52-34.4,97.6-91.2,118.4v1.6c51.2,12.8,111.2,55.2,111.2,135.2c0,46.4-18.4,81.6-45.6,108c-37.6,34.4-98.4,50.4-186.4,50.4
    c-48,0-84.8-3.2-108-6.4L490.3,323.5L490.3,323.5z M559.9,544.3h63.2c73.6,0,116.8-38.4,116.8-90.4c0-63.2-48-88-118.4-88
    c-32,0-50.4,2.4-61.6,4.8V544.3z M559.9,802.7c13.6,2.4,33.6,3.2,58.4,3.2c72,0,138.4-26.4,138.4-104.8c0-73.6-63.2-104-139.2-104
    h-57.6L559.9,802.7L559.9,802.7z"/>
</g>
<g id="rating-A">
  <path style="fill:#FFFFFF;" d="M531.5,670.1l-56,169.6h-72l183.2-539.2h84l184,539.2h-74.4l-57.6-169.6H531.5z M708.3,615.7
    l-52.8-155.2c-12-35.2-20-67.2-28-98.4h-1.6c-8,32-16.8,64.8-27.2,97.6l-52.8,156H708.3z"/>
</g>
</g>
</svg>
      </div>
      <div id="tank-size-wrapper">
        <input type="number" max="1000" min="10" value="200" #gallons>
      </div>
      <svg
        version="1.1"
        id="fishTankSelector"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        x="0px"
        y="0px"
        viewBox="0 0 468 468"
        style="enable-background: new 0 0 468 468"
        xml:space="preserve"
      >
        <style type="text/css">
          .st0_unique {
            clip-path: url(#SVGID_2_);
          }
          .st1 {
            fill: #4d4d4d;
          }
          .st2 {
            fill: #c69c6d;
          }
          .st3 {
            fill: #666666;
          }
          .st4 {
            opacity: 0.89;
            fill: #66c3ea;
            enable-background: new;
          }
          .st5 {
            opacity: 0.89;
            fill: #29abe2;
            enable-background: new;
          }
          .st6 {
            opacity: 0.89;
            fill: #0071bc;
            enable-background: new;
          }
          .st7 {
            opacity: 0.65;
          }
          .st8 {
            fill: #d4c4b1;
          }
          .st9 {
            fill: #998675;
          }
          .st10 {
            fill: #c7b299;
          }
          .st11 {
            opacity: 0.47;
            fill: #f2f2f2;
            enable-background: new;
          }
          .st12 {
            fill: #808080;
          }
        </style>
        <g>
          <defs>
            <circle id="SVGID_1_" cx="234" cy="234" r="234" />
          </defs>
          <use
            xlink:href="#SVGID_1_"
            style="overflow: visible; fill: #29abe2"
          />
          <clipPath id="SVGID_2_">
            <use xlink:href="#SVGID_1_" style="overflow: visible" />
          </clipPath>
          <g id="tanksGroup" class="st0_unique">
            <g id="innerGroup">
              <g id="fish-tank-large">
                <g id="base">
                  <polygon
                    class="st1"
                    points="301.6,830 77,700.9 166.4,649.3 391,778.4 					"
                  />
                  <polygon
                    class="st2"
                    points="301.6,822.8 77,693.7 166.4,642.1 391,771.1 					"
                  />
                  <polygon
                    class="st1"
                    points="77,693.7 77,700.9 301.6,830 301.6,822.8 					"
                  />
                  <polygon
                    class="st3"
                    points="301.6,830 391,778.4 391,771.1 301.6,822.8 					"
                  />
                </g>
                <g id="water">
                  <polygon
                    class="st4"
                    points="301.6,719.8 77,590.8 166.4,539.2 391,668.2 					"
                  />
                  <polygon
                    class="st5"
                    points="77,693.7 77,590.8 301.6,719.8 301.6,822.8 					"
                  />
                  <polygon
                    class="st6"
                    points="301.6,719.8 391,668.2 391,771.1 301.6,822.8 					"
                  />
                </g>
                <g id="gravel" class="st7">
                  <polygon
                    class="st1"
                    points="301.6,822.5 77,693.4 166.4,641.8 391,770.8 					"
                  />
                  <polygon
                    class="st8"
                    points="301.6,815.2 77,686.5 166.4,634.9 391,763.6 					"
                  />
                  <polygon
                    class="st9"
                    points="77,686.5 77,693.8 301.6,822.8 301.6,815.2 					"
                  />
                  <polygon
                    class="st10"
                    points="301.6,822.8 391,770.8 391,763.6 301.6,815.2 					"
                  />
                </g>
                <g id="glass">
                  <polygon
                    class="st11"
                    points="166.4,526.2 77,577.9 77,686.5 166.4,634.9 391,763.6 391,655.3 					"
                  />
                  <polygon
                    class="st11"
                    points="77,693.7 77,577.8 301.6,706.9 301.6,822.8 					"
                  />
                  <polygon
                    class="st11"
                    points="140.7,730.5 176.4,751.1 143.1,616 107.4,595.4 					"
                  />
                  <polygon
                    class="st11"
                    points="120.6,718.9 132.9,726 99.6,590.9 87.3,583.8 					"
                  />
                  <polygon
                    class="st11"
                    points="301.6,706.9 391,655.3 391,771.1 301.6,822.8 					"
                  />
                </g>
                <g id="topper">
                  <polygon
                    class="st12"
                    points="77,577.9 166.4,526.2 166.4,519 77,570.6 					"
                  />
                  <polygon
                    class="st3"
                    points="80.9,580.1 170.3,528.4 170.3,521.2 80.9,572.8 					"
                  />
                  <polygon
                    class="st1"
                    points="166.3,523.5 166.4,530.7 387,657.5 387,650.3 					"
                  />
                  <polygon
                    class="st12"
                    points="301.5,703 387,652.9 387,645.6 301.5,695.8 					"
                  />
                  <polygon
                    class="st3"
                    points="301.6,706.9 391,655.3 391,648 301.6,699.7 					"
                  />
                  <polygon
                    class="st1"
                    points="77,570.6 77,577.8 301.6,706.9 301.6,699.7 					"
                  />
                  <polygon
                    class="st12"
                    points="77,570.6 81,568.3 305.6,697.4 301.6,699.7 					"
                  />
                  <polygon
                    class="st12"
                    points="162.4,521.3 166.4,519 391,648.1 387,650.4 					"
                  />
                </g>
                <polygon
                  class="st11"
                  points="240.5,787.7 276.2,808.3 242.9,673.2 207.2,652.6 				"
                />
              </g>
              <g id="fish-tank-medium">
                <g id="base_1_">
                  <polygon
                    class="st1"
                    points="269.1,415.4 77.1,304.5 198.9,234.2 390.9,345 					"
                  />
                  <polygon
                    class="st2"
                    points="269.1,405.6 77.1,294.7 198.9,224.3 390.9,335.2 					"
                  />
                  <polygon
                    class="st1"
                    points="77.1,294.7 77.1,304.5 269.1,415.4 269.1,405.6 					"
                  />
                  <polygon
                    class="st3"
                    points="269.1,415.4 390.9,345 390.9,335.2 269.1,405.6 					"
                  />
                </g>
                <g id="water_1_">
                  <polygon
                    class="st4"
                    points="269.1,265.3 77.1,154.4 198.9,84.1 390.9,194.9 					"
                  />
                  <polygon
                    class="st5"
                    points="77.1,294.7 77.1,154.4 269.1,265.3 269.1,405.6 					"
                  />
                  <polygon
                    class="st6"
                    points="269.1,265.3 390.9,194.9 390.9,335.2 269.1,405.6 					"
                  />
                </g>
                <g id="gravel_1_" class="st7">
                  <polygon
                    class="st1"
                    points="269.1,405.1 77.1,294.2 198.9,223.9 390.9,334.8 					"
                  />
                  <polygon
                    class="st8"
                    points="269.1,395.3 77.1,284.8 198.9,214.5 390.9,324.9 					"
                  />
                  <polygon
                    class="st9"
                    points="77.1,284.9 77.1,294.7 269.1,405.6 269.1,395.3 					"
                  />
                  <polygon
                    class="st10"
                    points="269.1,405.6 390.9,334.8 390.9,324.9 269.1,395.3 					"
                  />
                </g>
                <g id="glass_1_">
                  <polygon
                    class="st11"
                    points="198.9,66.4 77.1,136.8 77.1,284.8 198.9,214.5 390.9,324.9 390.9,177.3 					"
                  />
                  <polygon
                    class="st11"
                    points="77.1,294.7 77.1,136.8 269.1,247.6 269.1,405.6 					"
                  />
                  <polygon
                    class="st11"
                    points="163.8,344.8 212.5,372.8 167.1,188.7 118.5,160.6 					"
                  />
                  <polygon
                    class="st11"
                    points="136.4,329 153.2,338.6 107.8,154.5 91,144.8 					"
                  />
                  <polygon
                    class="st11"
                    points="269.1,247.7 390.9,177.3 390.9,335.2 269.1,405.6 					"
                  />
                </g>
                <g id="topper_1_">
                  <polygon
                    class="st12"
                    points="77.1,136.8 198.9,66.4 198.9,56.6 77.1,127 					"
                  />
                  <polygon
                    class="st3"
                    points="82.3,139.8 204.2,69.5 204.2,59.6 82.3,130 					"
                  />
                  <polygon
                    class="st1"
                    points="198.8,62.7 198.9,72.5 385.4,180.3 385.4,170.5 					"
                  />
                  <polygon
                    class="st12"
                    points="263.6,244.4 385.4,174 385.4,164.2 263.6,234.5 					"
                  />
                  <polygon
                    class="st3"
                    points="269.1,247.6 390.9,177.3 390.9,167.4 269.1,237.8 					"
                  />
                  <polygon
                    class="st1"
                    points="77.1,126.9 77.1,136.8 269.1,247.6 269.1,237.8 					"
                  />
                  <polygon
                    class="st12"
                    points="77.1,127 82.5,123.8 274.5,234.7 269.1,237.8 					"
                  />
                  <polygon
                    class="st12"
                    points="193.4,59.7 198.8,56.6 390.9,167.5 385.4,170.6 					"
                  />
                </g>
              </g>
              <g id="fish-tank-small">
                <g id="base_2_">
                  <polygon
                    class="st1"
                    points="228.1,-48.6 118.1,-111.5 239.9,-181.8 349.9,-119 					"
                  />
                  <polygon
                    class="st2"
                    points="228.1,-58.4 118.1,-121.3 239.9,-191.7 349.9,-128.8 					"
                  />
                  <polygon
                    class="st1"
                    points="118.1,-121.3 118.1,-111.5 228.1,-48.6 228.1,-58.4 					"
                  />
                  <polygon
                    class="st3"
                    points="228.1,-48.6 349.9,-119 349.9,-128.8 228.1,-58.4 					"
                  />
                </g>
                <g id="water_2_">
                  <polygon
                    class="st4"
                    points="228.1,-198.7 118.1,-261.6 239.9,-331.9 349.9,-269.1 					"
                  />
                  <polygon
                    class="st5"
                    points="118.1,-121.3 118.1,-261.6 228.1,-198.7 228.1,-58.4 					"
                  />
                  <polygon
                    class="st6"
                    points="228.1,-198.7 349.9,-269.1 349.9,-128.8 228.1,-58.4 					"
                  />
                </g>
                <g id="gravel_2_" class="st7">
                  <polygon
                    class="st1"
                    points="228.1,-58.9 118.1,-121.8 239.9,-192.1 349.9,-129.2 					"
                  />
                  <polygon
                    class="st8"
                    points="228.1,-68.7 118.1,-131.2 239.9,-201.5 349.9,-139.1 					"
                  />
                  <polygon
                    class="st9"
                    points="118.1,-131.1 118.1,-121.3 228.1,-58.4 228.1,-68.7 					"
                  />
                  <polygon
                    class="st10"
                    points="228.1,-58.4 349.9,-129.2 349.9,-139.1 228.1,-68.7 					"
                  />
                </g>
                <g id="glass_2_">
                  <polygon
                    class="st11"
                    points="239.9,-349.6 118.1,-279.2 118.1,-131.2 239.9,-201.5 349.9,-139.1 349.9,-286.7 					"
                  />
                  <polygon
                    class="st11"
                    points="118.1,-121.3 118.1,-279.2 228.1,-216.4 228.1,-58.4 					"
                  />
                  <polygon
                    class="st11"
                    points="204.8,-71.2 218.5,-63.2 173.1,-247.3 159.5,-255.4 					"
                  />
                  <polygon
                    class="st11"
                    points="177.4,-87 194.2,-77.4 148.8,-261.5 132,-271.2 					"
                  />
                  <polygon
                    class="st11"
                    points="228.1,-216.3 349.9,-286.7 349.9,-128.8 228.1,-58.4 					"
                  />
                </g>
                <g id="topper_2_">
                  <polygon
                    class="st12"
                    points="118.1,-279.2 239.9,-349.6 239.9,-359.4 118.1,-289 					"
                  />
                  <polygon
                    class="st3"
                    points="123.3,-276.2 245.2,-346.5 245.2,-356.4 123.3,-286 					"
                  />
                  <polygon
                    class="st1"
                    points="239.8,-353.3 239.9,-343.5 344.4,-283.7 344.4,-293.5 					"
                  />
                  <polygon
                    class="st12"
                    points="222.6,-219.6 344.4,-290 344.4,-299.8 222.6,-229.5 					"
                  />
                  <polygon
                    class="st3"
                    points="228.1,-216.4 349.9,-286.7 349.9,-296.6 228.1,-226.2 					"
                  />
                  <polygon
                    class="st1"
                    points="118.1,-289.1 118.1,-279.2 228.1,-216.4 228.1,-226.2 					"
                  />
                  <polygon
                    class="st12"
                    points="118.1,-289 123.5,-292.2 233.5,-229.3 228.1,-226.2 					"
                  />
                  <polygon
                    class="st12"
                    points="234.4,-356.3 239.8,-359.4 349.9,-296.5 344.4,-293.4 					"
                  />
                </g>
              </g>
            </g>
          </g>
        </g>
      </svg>
      <div id="tank-selector">
        <ul>
          <li
            #smallIcon
            (click)="selectTank('small', true)"
            id="small"
            ngClass="{{ selectedTank == 'S' ? 'selected' : '' }}"
          >
            <div>{{ selectedTank == 'S' ? ' S' : '' }}</div>
          </li>
          <li
            #mediumIcon
            (click)="selectTank('medium', true)"
            id="medium"
            ngClass="{{ selectedTank == 'M' ? 'selected' : '' }}"
          >
            <div>{{ selectedTank == 'M' ? ' M' : '' }}</div>
          </li>
          <li
            #largeIcon
            (click)="selectTank('large', true)"
            id="large"
            ngClass="{{ selectedTank == 'L' ? 'selected' : '' }}"
          >
            <div>{{ selectedTank == 'L' ? ' L' : '' }}</div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div id="moreInfo" routerLink="/my-tank"><div>+ visit your tank</div></div>
  <div id="residentsWrapper">
    <h1>Residents</h1>
    <div id="residentsList">
      <app-resident-list-item
      *ngFor="let resident of residentsFiltered; let i = index"
      [id]="resident.id"
      [count]="resident.count"
      [largestFish]="getLargestFish()"
      [tankSize]="tankSize"
      (unsatisfied)="assessTankRemove($event)"
      (satisfied)="assessTank($event)"
      ></app-resident-list-item>
    </div>
  </div>
</section>
