/* You can add global styles to this file, and also import other style files */
@primary-color: #428bca;
@primary-color-highlight: darken(@primary-color, 30%);
@primary-text-color: white;
@secondary-text-color: @primary-color;

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background: #E2DDDE;
}

a {
  text-decoration: none;
  color: unset;
  cursor: pointer;
}

ul {
  margin: 0;
  list-style: none;
}

.closedDropdown > ul {
  display: none;
}

.active {
  background-color: @primary-color-highlight;
}
